<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="order" />
                <binding name="planvhp" />
                <binding name="materialneed" />
                <binding name="materialorder" />
                <binding name="misson" />
                <binding name="recordproduct" />
                <binding name="missonwithplan" />
                <binding name="delivery" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="order" contract="ServiceReference.IOrderService"
                name="order" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="planvhp" contract="ServiceReference.IPlanVHPService"
                name="planvhp" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="materialneed" contract="ServiceReference.IMaterialNeedService"
                name="materialneed" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="materialorder" contract="ServiceReference.IMaterialOrderService"
                name="materialorder" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="misson" contract="ServiceReference.IMissonService"
                name="misson" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="recordproduct" contract="ServiceReference.IRecordProductService"
                name="recordproduct" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="missonwithplan" contract="ServiceReference.IMissonWithPlanService"
                name="missonwithplan" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="delivery" contract="ServiceReference.IRecordDeliveryService"
                name="delivery" />
        </client>
    </system.serviceModel>
</configuration>
