<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="planvhp" />
          <binding name="materialneed" />
          <binding name="materialorder" />
          <binding name="misson" />
          <binding name="missonwithplan" />
          <binding name="delivery" />
          <binding name="recordvhp" />
          <binding name="customer" />
          <binding name="deliveryAddress" />
          <binding name="vhpdevice" />
          <binding name="vhpmold" />
          <binding name="vhpprocess" />
          <binding name="compound" />
          <binding name="recordtestresult" />
          <binding name="basic" maxReceivedMessageSize="2147483647" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IOrderService"
                name="order" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IPlanVHPService"
                name="planvhp" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IMaterialNeedService"
                name="materialneed" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IMaterialOrderService"
                name="materialorder" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IMissonService"
                name="misson" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recordtestresult"
                contract="ServiceReference.IRecordTestResultService" name="recordtestresult" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IMissonWithPlanService"
                name="missonwithplan" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IRecordDeliveryService"
                name="delivery" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IRecordVHPService"
                name="recordvhp" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.ICustomerService"
                name="customer" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IDeliveryAddressService"
                name="deliveryAddress" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IVHPDeviceService"
                name="vhpdevice" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IVHPMoldService"
                name="vhpmold" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.IVHPProcessService"
                name="vhpprocess" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="ServiceReference.ICompoundService"
                name="compound" />
        </client>
    </system.serviceModel>
</configuration>
