<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="BasicHttpBinding_IPlanVHPService" />
                <binding name="BasicHttpBinding_IMaterialNeedService" />
                <binding name="BasicHttpBinding_IMaterialOrderService" />
                <binding name="BasicHttpBinding_IMissonService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderService" contract="ServiceReference.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlanVHPService" contract="ServiceReference.IPlanVHPService"
                name="BasicHttpBinding_IPlanVHPService" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMaterialNeedService"
                contract="ServiceReference.IMaterialNeedService" name="BasicHttpBinding_IMaterialNeedService" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMaterialOrderService"
                contract="ServiceReference.IMaterialOrderService" name="BasicHttpBinding_IMaterialOrderService" />
            <endpoint address="http://localhost:8002/PMSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMissonService" contract="ServiceReference.IMissonService"
                name="BasicHttpBinding_IMissonService" />
        </client>
    </system.serviceModel>
</configuration>
