<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PMSClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="largebonding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="customer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="deliveryAddress" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="vhpdevice" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="vhpmold" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="vhpprocess" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="compound" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="supplier" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="element" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="heartbeat" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="MainStatistic" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="usersimple" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="itemdebit" maxReceivedMessageSize="2147483647" />
        <binding name="checklist" maxReceivedMessageSize="2147483647" />
        <binding name="feedback" maxReceivedMessageSize="2147483647" />
        <binding name="order" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="planvhp" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="materialneed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="materialorder" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="materialinventory" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="misson" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="delivery" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="plate" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="product" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recordtest" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recordvhp" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recordmilling" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recordmachine" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recorddemold" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="recordbonding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="outsource" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="pmiindex" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="environment" maxReceivedMessageSize="2147483647" />
        <binding name="todo" maxReceivedMessageSize="2147483647" />
        <binding name="toolinventory" maxReceivedMessageSize="2147483647" />
        <binding name="output" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="failures" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="remaininventory" />
        <binding name="pmicounter" />
        <binding name="outsideprocess" />
        <binding name="CommonServiceServiceSoapBinding" />
        <binding name="heartbeat1" />
        <binding name="editlock" />
        <binding name="sieve" />
        <binding name="BasicHttpBinding_ISampleService" />
        <binding name="config" />
        <binding name="BasicHttpBinding_IDrawingService" />
        <binding name="BasicHttpBinding_INewService" />
        <binding name="rawmaterialsheet" />
        <binding name="BasicHttpBinding_IAnlysisService" />
        <binding name="BasicHttpBinding_ISimpleMaterialService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.ICustomerService" name="customer" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.IDeliveryAddressService" name="deliveryAddress" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.IVHPDeviceService" name="vhpdevice" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.IVHPMoldService" name="vhpmold" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.IVHPProcessService" name="vhpprocess" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.ICompoundService" name="compound" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.ISupplierService" name="supplier" />
      <endpoint address="http://192.168.16.254:8002/BasicDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="BasicService.IElementService" name="element" />
      <endpoint address="http://192.168.16.254:8002/HeartBeatService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="HeartBeatService.IHeartBeatSerive" name="heartbeat" />
      <endpoint address="http://192.168.16.254:8002/StatisticService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="StatisticService.IMainStatisticService" name="MainStatistic" />
      <endpoint address="http://192.168.16.254:8002/UserSimpleService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="UserSimpleService.IUserSimpleService" name="usersimple" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IOrderService" name="order" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IPlanVHPService" name="planvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IMaterialNeedService" name="materialneed" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IMaterialOrderService" name="materialorder" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IMaterialInventoryService" name="materialinventory" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IMissonService" name="misson" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IDeliveryService" name="delivery" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IPlateService" name="plate" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IProductService" name="product" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordTestService" name="recordtest" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordVHPService" name="recordvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordMillingService" name="recordmilling" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordMachineService" name="recordmachine" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordDeMoldService" name="recorddemold" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IRecordBondingService" name="recordbonding" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="MainService.IOutSourceService" name="outsource" />
      <endpoint address="http://192.168.16.254:8002/PMSIndexService.svc"
        binding="basicHttpBinding" bindingConfiguration="pmiindex" contract="PMSIndexService.IPMSIndexService"
        name="pmiindex" />
      <endpoint address="http://192.168.16.254:8002/OutputService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="OutputService.IOutputService" name="output" />
      <endpoint address="http://192.168.16.254:8002/FailureService.svc"
        binding="basicHttpBinding" bindingConfiguration="failures" contract="FailureService.IFailureService"
        name="failures" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IItemDebitService" name="itemdebit" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.ICheckListService" name="checklist" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IFeedBackService" name="feedback" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IEnvironmentInfoService" name="environment" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IToDoService" name="todo" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IToolInventoryService" name="toolinventory" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IRemainInventoryService" name="remaininventory" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ExtraService.IPMICounterService" name="pmicounter" />
      <endpoint address="http://192.168.16.254:8002/OutsideProcessService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="OutsideProcessService.IOutsideProcessService" name="outsideprocess" />
      <endpoint address="http://bsp-oisp.sf-express.com/bsp-oisp/ws/expressService"
        binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
        contract="SF.IService" name="CommonServicePort" />
      <endpoint address="http://cdpmi.wicp.net:34379/HeartBeatService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="RemoteHeartBeatService.IHeartBeatSerive" name="heartbeat1" />
      <endpoint address="http://192.168.16.254:8002/EditLockService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="EditLockService.IEditLockService" name="editlock" />
      <endpoint address="http://192.168.16.254:8002/ToolService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="ToolService.IToolSieveService" name="sieve" />
      <endpoint address="http://192.168.16.254:8002/SampleService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="Sample.ISampleService" name="BasicHttpBinding_ISampleService" />
      <endpoint address="http://192.168.16.254:8002/PMSSettingService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="PMSSettings.IPMSSettingService" name="config" />
      <endpoint address="http://192.168.16.254:8002/DrawingService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="DrawingService.IDrawingService" name="BasicHttpBinding_IDrawingService" />
      <endpoint address="http://192.168.16.254:8002/NewService.svc"
        binding="basicHttpBinding" bindingConfiguration="largebonding"
        contract="NewService.INewService" name="BasicHttpBinding_INewService" />
      <endpoint address="http://192.168.16.254:8002/RawMaterialSheetService.svc"
        binding="basicHttpBinding" bindingConfiguration="rawmaterialsheet"
        contract="Other.IRawMaterialSheetService" name="rawmaterialsheet" />
      <endpoint address="http://192.168.16.254:8002/AnlysisService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnlysisService"
        contract="AnlysisService.IAnlysisService" name="BasicHttpBinding_IAnlysisService" />
      <endpoint address="http://192.168.16.254:8002/SimpleMaterialService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleMaterialService"
        contract="SimpleMaterialService.ISimpleMaterialService" name="BasicHttpBinding_ISimpleMaterialService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <PMSClient.Properties.Settings>
      <setting name="UID" serializeAs="String">
        <value>uid</value>
      </setting>
      <setting name="PWD" serializeAs="String">
        <value>pwd</value>
      </setting>
      <setting name="IsUIDPWDRemembered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>zh-cn</value>
      </setting>
      <setting name="CheckExpressAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpressSender" serializeAs="String">
        <value>秦雪梅</value>
      </setting>
      <setting name="ExpressSenderPhone" serializeAs="String">
        <value>13808071935</value>
      </setting>
      <setting name="DevStatus" serializeAs="String">
        <value>测试</value>
      </setting>
      <setting name="XRFOffset" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>4.10.6.18</value>
      </setting>
      <setting name="ShowHelpDocSilenceCode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FtpImageServerUID" serializeAs="String">
        <value>photoadmin</value>
      </setting>
      <setting name="FtpImageServerPwd" serializeAs="String">
        <value>cdpmiadmin</value>
      </setting>
      <setting name="FtpImageServerIp" serializeAs="String">
        <value>192.168.16.254</value>
      </setting>
      <setting name="FtpImageCache" serializeAs="String">
        <value>PMI_IMAGE_CACHE</value>
      </setting>
    </PMSClient.Properties.Settings>
  </userSettings>
</configuration>