<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" maxReceivedMessageSize="2147483647" />
        <binding name="order" />
        <binding name="planvhp" />
        <binding name="materialneed" />
        <binding name="materialorder" />
        <binding name="misson" />
        <binding name="recordtestresult" />
        <binding name="missonwithplan" />
        <binding name="recorddelivery" />
        <binding name="recordvhp" />
        <binding name="customer" />
        <binding name="deliveryAddress" />
        <binding name="vhpdevice" />
        <binding name="vhpmold" />
        <binding name="vhpprocess" />
        <binding name="compound" />
        <binding name="supplier" />
        <binding name="recordmilling" />
        <binding name="recordmachine" />
        <binding name="recorddemold" />
        <binding name="recordbonding" />
        <binding name="useraccess" />
        <binding name="order1" />
        <binding name="planvhp1" />
        <binding name="materialneed1" />
        <binding name="materialorder1" />
        <binding name="misson1" />
        <binding name="recordtestresult1" />
        <binding name="missonwithplan1" />
        <binding name="recorddelivery1" />
        <binding name="recordvhp1" />
        <binding name="customer1" />
        <binding name="deliveryAddress1" />
        <binding name="vhpdevice1" />
        <binding name="vhpmold1" />
        <binding name="vhpprocess1" />
        <binding name="compound1" />
        <binding name="supplier1" />
        <binding name="recordmilling1" />
        <binding name="recordmachine1" />
        <binding name="recorddemold1" />
        <binding name="recordbonding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IOrderService"
        name="order" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IPlanVHPService"
        name="planvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMaterialNeedService"
        name="materialneed" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMaterialOrderService"
        name="materialorder" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMissonService"
        name="misson" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordTestResultService"
        name="recordtestresult" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMissonWithPlanService"
        name="missonwithplan" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordDeliveryService"
        name="recorddelivery" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordVHPService"
        name="recordvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.ICustomerService"
        name="customer" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IDeliveryAddressService"
        name="deliveryAddress" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPDeviceService"
        name="vhpdevice" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPMoldService"
        name="vhpmold" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPProcessService"
        name="vhpprocess" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.ICompoundService"
        name="compound" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.ISupplierService"
        name="supplier" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordMillingService"
        name="recordmilling" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordMachineService"
        name="recordmachine" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordDeMoldService"
        name="recorddemold" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordBondingService"
        name="recordbonding" />
      <endpoint address="http://192.168.16.254:8002/UserAccessService.svc"
        binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSUserAccessService.IUserAccessService"
        name="useraccess" />
    </client>
  </system.serviceModel>
</configuration>
