<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PMSClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="basic" maxReceivedMessageSize="2147483647" />
          <binding name="order" />
          <binding name="planvhp" />
          <binding name="materialneed" />
          <binding name="materialorder" />
          <binding name="misson" />
          <binding name="recordtestresult" />
          <binding name="missonwithplan" />
          <binding name="recordvhp" />
          <binding name="customer" />
          <binding name="deliveryAddress" />
          <binding name="vhpdevice" />
          <binding name="vhpmold" />
          <binding name="vhpprocess" />
          <binding name="compound" />
          <binding name="supplier" />
          <binding name="recorddelivery" />
          <binding name="recordmilling" />
          <binding name="recordmachine" />
          <binding name="recorddemold" />
          <binding name="recordbonding" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://192.168.16.254:8002/UserAccessService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSUserAccessService.IUserAccessService"
                name="useraccess" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IOrderService"
                name="order" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IPlanVHPService"
                name="planvhp" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMaterialNeedService"
                name="materialneed" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMaterialOrderService"
                name="materialorder" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMissonService"
                name="misson" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordTestResultService"
                name="recordtestresult" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IMissonWithPlanService"
                name="missonwithplan" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recorddelivery"
                contract="PMSMainService.IRecordDeliveryService" name="recorddelivery" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IRecordVHPService"
                name="recordvhp" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.ICustomerService"
                name="customer" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IDeliveryAddressService"
                name="deliveryAddress" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPDeviceService"
                name="vhpdevice" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPMoldService"
                name="vhpmold" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.IVHPProcessService"
                name="vhpprocess" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="PMSMainService.ICompoundService"
                name="compound" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="supplier"
                contract="PMSMainService.ISupplierService" name="supplier" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recordmilling"
                contract="PMSMainService.IRecordMillingService" name="recordmilling" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recordmachine"
                contract="PMSMainService.IRecordMachineService" name="recordmachine" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recorddemold"
                contract="PMSMainService.IRecordDeMoldService" name="recorddemold" />
            <endpoint address="http://192.168.16.254:8002/PMSService.svc"
                binding="basicHttpBinding" bindingConfiguration="recordbonding"
                contract="PMSMainService.IRecordBondingService" name="recordbonding" />
        </client>
    </system.serviceModel>
    <userSettings>
        <PMSClient.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>zh-cn</value>
            </setting>
        </PMSClient.Properties.Settings>
    </userSettings>
</configuration>
