<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sanjie" />
                <binding name="usersimple" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8002/SanjieService.svc" binding="basicHttpBinding"
                bindingConfiguration="sanjie" contract="SanjieService.ISanjieService"
                name="sanjie" />
            <endpoint address="http://localhost:8002/UserSimpleService.svc"
                binding="basicHttpBinding" bindingConfiguration="usersimple"
                contract="UserSimpleService.IUserSimpleService" name="usersimple" />
        </client>
    </system.serviceModel>
</configuration>