<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PMSLargeScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="largescreen" />
        <binding name="itemdebit" />
        <binding name="checklist" />
        <binding name="feedback" />
        <binding name="environment" />
        <binding name="todo" />
        <binding name="toolinventory" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.254:8002/LargeScreenService.svc"
        binding="basicHttpBinding" bindingConfiguration="largescreen"
        contract="LargeScreenService.ILargeScreenService" name="largescreen" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="itemdebit"
        contract="ExtraService.IItemDebitService" name="itemdebit" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="checklist"
        contract="ExtraService.ICheckListService" name="checklist" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="feedback" contract="ExtraService.IFeedBackService"
        name="feedback" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="environment"
        contract="ExtraService.IEnvironmentInfoService" name="environment" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="todo" contract="ExtraService.IToDoService"
        name="todo" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="toolinventory"
        contract="ExtraService.IToolInventoryService" name="toolinventory" />
    </client>
  </system.serviceModel>
  <userSettings>
    <PMSLargeScreen.Properties.Settings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="Device1" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="Device2" serializeAs="String">
        <value>B</value>
      </setting>
      <setting name="Device3" serializeAs="String">
        <value>C</value>
      </setting>
      <setting name="Device4" serializeAs="String">
        <value>D</value>
      </setting>
      <setting name="Device5" serializeAs="String">
        <value>E</value>
      </setting>
      <setting name="Device6" serializeAs="String">
        <value>F</value>
      </setting>
    </PMSLargeScreen.Properties.Settings>
  </userSettings>
</configuration>
