<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" maxReceivedMessageSize="2147483647" />
        <binding name="order" />
        <binding name="planvhp" />
        <binding name="materialneed" />
        <binding name="materialorder" />
        <binding name="misson" />
        <binding name="recordtestresult" />
        <binding name="missonwithplan" />
        <binding name="delivery" />
        <binding name="recordvhp" />
        <binding name="customer" />
        <binding name="deliveryAddress" />
        <binding name="vhpdevice" />
        <binding name="vhpmold" />
        <binding name="vhpprocess" />
        <binding name="compound" />
        <binding name="supplier" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IOrderService"
          name="order" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IPlanVHPService"
          name="planvhp" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IMaterialNeedService"
          name="materialneed" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IMaterialOrderService"
          name="materialorder" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IMissonService"
          name="misson" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IRecordTestResultService"
          name="recordtestresult" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IMissonWithPlanService"
          name="missonwithplan" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IRecordDeliveryService"
          name="delivery" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IRecordVHPService"
          name="recordvhp" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.ICustomerService"
          name="customer" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IDeliveryAddressService"
          name="deliveryAddress" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IVHPDeviceService"
          name="vhpdevice" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IVHPMoldService"
          name="vhpmold" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.IVHPProcessService"
          name="vhpprocess" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.ICompoundService"
          name="compound" />
      <endpoint address="http://localhost:63549/PMSService.svc" binding="basicHttpBinding"
          bindingConfiguration="basic" contract="PMSMainService.ISupplierService"
          name="supplier" />
    </client>
  </system.serviceModel>
</configuration>
