<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PMSLargeScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="largescreen" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8002/LargeScreenService.svc"
        binding="basicHttpBinding" bindingConfiguration="largescreen"
        contract="LargeScreenService.ILargeScreenService" name="largescreen" />
    </client>
  </system.serviceModel>
  <userSettings>
    <PMSLargeScreen.Properties.Settings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>120000</value>
      </setting>
    </PMSLargeScreen.Properties.Settings>
  </userSettings>
</configuration>
