<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="order" />
            <binding name="planvhp" />
            <binding name="materialneed" />
            <binding name="materialorder" />
            <binding name="misson" />
            <binding name="recorddelivery" />
            <binding name="recordvhp" />
            <binding name="recordmilling" />
            <binding name="recordmachine" />
            <binding name="recorddemold" />
            <binding name="recordbonding" />
            <binding name="recordtest" />
            <binding name="materialinventory" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="order" contract="PMSMainService.IOrderService"
            name="order" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="planvhp"
            contract="PMSMainService.IPlanVHPService" name="planvhp" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="materialneed"
            contract="PMSMainService.IMaterialNeedService" name="materialneed" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="materialorder"
            contract="PMSMainService.IMaterialOrderService" name="materialorder" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="materialinventory"
            contract="PMSMainService.IMaterialInventoryService" name="materialinventory" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="misson" contract="PMSMainService.IMissonService"
            name="misson" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recorddelivery"
            contract="PMSMainService.IRecordDeliveryService" name="recorddelivery" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recordtest"
            contract="PMSMainService.IRecordTestService" name="recordtest" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recordvhp"
            contract="PMSMainService.IRecordVHPService" name="recordvhp" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recordmilling"
            contract="PMSMainService.IRecordMillingService" name="recordmilling" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recordmachine"
            contract="PMSMainService.IRecordMachineService" name="recordmachine" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recorddemold"
            contract="PMSMainService.IRecordDeMoldService" name="recorddemold" />
        <endpoint address="http://192.168.16.254:8002/PMSService.svc"
            binding="basicHttpBinding" bindingConfiguration="recordbonding"
            contract="PMSMainService.IRecordBondingService" name="recordbonding" />
    </client>
  </system.serviceModel>
</configuration>
