<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
    <connectionStrings>
    <add name="Default" connectionString="Server=(local);DataBase=PMS;Integrated Security=sspi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="metaBehavior" name="PMSWCFService.PMSService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="order" contract="PMSWCFService.ServiceContracts.IOrderService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="planvhp" contract="PMSWCFService.ServiceContracts.IPlanVHPService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="materialneed" contract="PMSWCFService.ServiceContracts.IMaterialNeedService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="materialorder" contract="PMSWCFService.ServiceContracts.IMaterialOrderService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="misson" contract="PMSWCFService.ServiceContracts.IMissonService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="recordproduct" contract="PMSWCFService.ServiceContracts.IRecordProductService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="missonwithplan" contract="PMSWCFService.ServiceContracts.IMissonWithPlanService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="delivery" contract="PMSWCFService.ServiceContracts.IRecordDeliveryService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          name="recordvhp" contract="PMSWCFService.ServiceContracts.IRecordVHPService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>