<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=192.168.16.254;DataBase=PMS;uid=sa;pwd=newlifechou" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="metaBehavior" name="PMSWCFService.PMSService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basic"
            name="order" contract="PMSWCFService.ServiceContracts.IOrderService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basic"
            name="planvhp" contract="PMSWCFService.ServiceContracts.IPlanVHPService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="materialneed" contract="PMSWCFService.ServiceContracts.IMaterialNeedService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="materialorder" contract="PMSWCFService.ServiceContracts.IMaterialOrderService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="misson" contract="PMSWCFService.ServiceContracts.IMissonService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="missonwithplan" contract="PMSWCFService.ServiceContracts.IMissonWithPlanService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recorddelivery" contract="PMSWCFService.ServiceContracts.IRecordDeliveryService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
    name="recordtest" contract="PMSWCFService.ServiceContracts.IRecordTestService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recordvhp" contract="PMSWCFService.ServiceContracts.IRecordVHPService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recordmilling" contract="PMSWCFService.ServiceContracts.IRecordMillingService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recordmachine" contract="PMSWCFService.ServiceContracts.IRecordMachineService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recorddemold" contract="PMSWCFService.ServiceContracts.IRecordDeMoldService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="recordbonding" contract="PMSWCFService.ServiceContracts.IRecordBondingService" />
      </service>
      <service behaviorConfiguration="metaBehavior" name="PMSWCFService.UserAccessService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="useraccess" contract="PMSWCFService.ServiceContracts.IUserAccessService" />
      </service>
      <service behaviorConfiguration="metaBehavior" name="PMSWCFService.BasicDataService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
  name="customer" contract="PMSWCFService.ServiceContracts.ICustomerService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="deliveryAddress" contract="PMSWCFService.ServiceContracts.IDeliveryAddressService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="vhpdevice" contract="PMSWCFService.ServiceContracts.IVHPDeviceService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="vhpmold" contract="PMSWCFService.ServiceContracts.IVHPMoldService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="vhpprocess" contract="PMSWCFService.ServiceContracts.IVHPProcessService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="compound" contract="PMSWCFService.ServiceContracts.ICompoundService" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic"
            name="supplier" contract="PMSWCFService.ServiceContracts.ISupplierService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metaBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>