<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="order" />
        <binding name="planvhp" />
        <binding name="materialneed" />
        <binding name="materialorder" />
        <binding name="materialinventory" />
        <binding name="misson" />
        <binding name="delivery" />
        <binding name="plate" />
        <binding name="product" />
        <binding name="recordtest" />
        <binding name="recordvhp" />
        <binding name="recordmilling" />
        <binding name="recordmachine" />
        <binding name="recorddemold" />
        <binding name="recordbonding" />
        <binding name="outsource" />
        <binding name="usersimple" />
        <binding name="itemdebit" />
        <binding name="checklist" />
        <binding name="feedback" />
        <binding name="environment" />
        <binding name="todo" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="order" contract="MainService.IOrderService"
        name="order" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="planvhp" contract="MainService.IPlanVHPService"
        name="planvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="materialneed"
        contract="MainService.IMaterialNeedService" name="materialneed" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="materialorder"
        contract="MainService.IMaterialOrderService" name="materialorder" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="materialinventory"
        contract="MainService.IMaterialInventoryService" name="materialinventory" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="misson" contract="MainService.IMissonService"
        name="misson" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="delivery" contract="MainService.IDeliveryService"
        name="delivery" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="plate" contract="MainService.IPlateService"
        name="plate" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="product" contract="MainService.IProductService"
        name="product" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recordtest"
        contract="MainService.IRecordTestService" name="recordtest" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recordvhp"
        contract="MainService.IRecordVHPService" name="recordvhp" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recordmilling"
        contract="MainService.IRecordMillingService" name="recordmilling" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recordmachine"
        contract="MainService.IRecordMachineService" name="recordmachine" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recorddemold"
        contract="MainService.IRecordDeMoldService" name="recorddemold" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="recordbonding"
        contract="MainService.IRecordBondingService" name="recordbonding" />
      <endpoint address="http://192.168.16.254:8002/PMSService.svc"
        binding="basicHttpBinding" bindingConfiguration="outsource"
        contract="MainService.IOutSourceService" name="outsource" />
      <endpoint address="http://192.168.16.254:8002/UserSimpleService.svc"
        binding="basicHttpBinding" bindingConfiguration="usersimple"
        contract="SimpleUserService.IUserSimpleService" name="usersimple" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="itemdebit"
        contract="ExtraService.IItemDebitService" name="itemdebit" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="checklist"
        contract="ExtraService.ICheckListService" name="checklist" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="feedback" contract="ExtraService.IFeedBackService"
        name="feedback" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="environment"
        contract="ExtraService.IEnvironmentInfoService" name="environment" />
      <endpoint address="http://192.168.16.254:8002/ExtraService.svc"
        binding="basicHttpBinding" bindingConfiguration="todo" contract="ExtraService.IToDoService"
        name="todo" />
    </client>
  </system.serviceModel>
</configuration>
